p, div, span {
	font-family: Arial;
	font-size: 17pt;
}

p.title {
	font-weight: bold;
	text-decoration: underline;
	font-size: 24pt;
}

div.label {
	font-size: 16pt;
	text-align: center;
}

div.labelino {
    font-size: 10pt;
    text-align: center;
}

span#perc {
	font-size: 32pt;
	font-weight: bold;
	color: #ff0000;
}

span#nuovipos {
	font-size: 16pt;
	font-weight: bold;
	color: #ff9900;
}

span#tam {
	font-size: 16pt;
	font-weight: bold;
	color: #e6e600;
}

span#ospedalizzati {
	font-size: 32pt;
	font-weight: bold;
	color: #33cc33;
}

span#terapie_attuali {
	font-size: 32pt;
	font-weight: bold;
	color: #005ce6;
}

span#deceduti_oggi {
	font-size: 32pt;
	font-weight: bold;
	color: #6600cc;
}

a:link, a:visited {
  background-color: black;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: grey;
}

.centered_img {
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 100%;
}

p.button {
	text-align: center;
}

/* per computer e tablet */
@media only screen and (min-width: 6in) {
.centered_img {
  	width: 50%;
}

.muro {
	margin-left:80pt;
	margin-right:80pt;
}

p.title {
	margin-left:80pt;
	margin-right:80pt;
}