.DS_Store
backend/.DS_Store
backend/__pycache__/dusi.cpython-38.pyc
backend/__pycache__/grafichini.cpython-38.pyc
backend/backup/.DS_Store
backend/old/.DS_Store
backend/old/index.php
backend/old/neuralvax.py
backend/old/26dic2020/.DS_Store
backend/old/26dic2020/dusi.py
backend/old/26dic2020/grafichini.py
backend/old/26dic2020/macinino.py
backend/old/26dic2020/past.csv
backend/old/26dic2020/timestep.txt
backend/old/26dic2020/__pycache__/dusi.cpython-38.pyc
backend/old/26dic2020/__pycache__/gr.cpython-38.pyc
backend/old/26dic2020/__pycache__/grafichini.cpython-38.pyc
backend/old/26dic2020/pantarei/.DS_Store
backend/old/26dic2020/pantarei/data.txt
backend/old/26dic2020/pantarei/deceduti_giornalieri_graph.png
backend/old/26dic2020/pantarei/deceduti_oggi.txt
backend/old/26dic2020/pantarei/deceduti_story.txt
backend/old/26dic2020/pantarei/nuovipos.txt
backend/old/26dic2020/pantarei/ospedalizzati_graph.png
backend/old/26dic2020/pantarei/ospedalizzati_story.txt
backend/old/26dic2020/pantarei/ospedalizzati.txt
backend/old/26dic2020/pantarei/perc_story.txt
backend/old/26dic2020/pantarei/perc.txt
backend/old/26dic2020/pantarei/rapporto_graph.png
backend/old/26dic2020/pantarei/tam.txt
backend/old/26dic2020/pantarei/terapie_attuali_graph.png
backend/old/26dic2020/pantarei/terapie_attuali.txt
backend/old/26dic2020/pantarei/terapie_story.txt
backend/pantarei/.DS_Store
frontend/.DS_Store
frontend/old/index.php
frontend/old/sm.html
frontend/old/spiegazione.html
frontend/old/vestiti.css
frontend/old/pantarei/data.txt
frontend/old/pantarei/deceduti_giornalieri_graph.png
frontend/old/pantarei/deceduti_oggi.txt
frontend/old/pantarei/deceduti_story.txt
frontend/old/pantarei/nuovipos.txt
frontend/old/pantarei/ospedalizzati_graph.png
frontend/old/pantarei/ospedalizzati_story.txt
frontend/old/pantarei/ospedalizzati.txt
frontend/old/pantarei/perc_story.txt
frontend/old/pantarei/perc.txt
frontend/old/pantarei/rapporto_graph.png
frontend/old/pantarei/tam.txt
frontend/old/pantarei/terapie_attuali_graph.png
frontend/old/pantarei/terapie_attuali.txt
frontend/old/pantarei/terapie_story.txt
